# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# images

*.jpg

# typescript
*.tsbuildinfo
tours-argentina.txt
tours-australia.txt
tours-austria.txt
tours-bolivia.txt
tours-brazil.txt
tours-canada.txt
tours-chile.txt
tours-china.txt
tours-colombia.txt
tours-dominican-republic.txt
tours-ecuador.txt
tours-egipto.txt
tours-fiji.txt
tours-france.txt
tours-germany.txt
tours-greece.txt
tours-guatemala.txt
tours-honduras.txt
tours-india.txt
tours-indonesia.txt
tours-italy.txt
tours-japan.txt
tours-kenya.txt
tours-mexico.txt
tours-morocco.txt
tours-netherlands.txt
tours-new-zealand.txt
tours-nicaragua.txt
tours-panama.txt
tours-peru.txt
tours-philippines.txt
tours-portugal.txt
tours-russia.txt
tours-singapore.txt
tours-spain.txt
tours-switzerland.txt
tours-thailand.txt
tours-tonga.txt
tours-turkey.txt
tours-united-kingdom.txt
tours-united-states.txt
